body {
  font-size: 1rem;
  line-height: 1;
  font-family: sans-serif;
  color: #1E1E24;
  background-color: #ffffff;
  margin: 2em;
}

h1 {
  font-size: 2rem;
  font-family: serif;
  color: #1E1E24;
}

p { margin-top: 0; }

table, th, td {
  padding: 8px;
  border: 1px solid #ddd;
  border-collapse: collapse;
        }

{
  list-style-position: inside;
}

{
  list-style-type: decimal-leading-zero;
}

.columns {
  columns: 250px 3;
  column-rule: 1px dotted #ccc;
  column-gap: 3em;
}

.logo {
  display: block;
  margin-left: 0px;
  margin-right: auto;
  max-width: 256px;
}

.intro {
  font-style: italic;
  column-span: all;
}

.about {
  font-size: 1rem;
}

img {
  width: 100%;
}

