@import url('https://fonts.googleapis.com/css?family=Muli:300,900');

body {
  font-size: 1.3rem;
  line-height: 1.65;
  font-family: 'Muli', sans-serif;
  color: #1E1E24;
  background-color: #ebfaeb;
  margin: 2em;
}

h1 {
  font-size: 2rem;
  color: #663300;
  font-weight: 900;
}

p { margin-top: 0; }

.columns {
  columns: 250px 3;
  column-rule: 1px dotted #ccc;
  column-gap: 3em;
}

.intro {
  font-style: italic;
  column-span: all;
}

.about {
  font-size: 1rem;
}

img {
  width: 100%;
}

