@import url('https://fonts.googleapis.com/css?family=Muli:300,900');

body {
  font-size: 1.3rem;
  line-height: 1.65;
  font-family: 'Muli', sans-serif;
  color: #1E1E24;
  background-color: #FFF8F0;
  margin: 2em;
}

h1 {
  font-size: 2rem;
  color: #92140C;
  font-weight: 900;
}

p { margin-top: 0; }

.columns {
  columns: 250px 3;
  column-rule: 1px dotted #ccc;
  column-gap: 3em;
}

.intro {
  column-span: all;
}

@media (min-width: 600px) {
  p {
    font-size: 1.25rem;
  }
  
  h1 {
    font-size: 2rem;
  }
  
}

@media (min-width: 800px) {
  p {
    font-size: 1.5rem;
    line-height: 1,5;
  }
  
    h1 {
    font-size: 2rem;
  }
  
}
